*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ejohn{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
  }
  #john img{
    height: 30vh;
    width: 35%;
    border-radius: 100%;
  }
  #tope p{
    color: blue;
  }
  #john{
    padding: 50px 5px;
  }
  #tope{
    padding:50px 5px;
    
  }
  
  